.courses-summary {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    
    .card {
        width: calc(33.33% - 13.33px);
        transition: all 0.4s ease-in-out;

        &:not(:last-child) {
            margin-right: 20px;
        }

        h3 {
            font-weight: 600;
        }

        h3 + small {
            margin-top: 4px;
        }

        small {
            display: block;
            font-size: 12px;
            opacity: 0.8;
        }

        small + small {
            //margin-bottom: 2px;
        }

        &[data-course] {
            cursor: pointer;

            &:hover {
                background-color: #efefef52;
                opacity: 0.8;
            }
        }

    }

    @media (max-width: 767px) {

        & {
            flex-wrap: wrap;

            .card {
                width: 100%;

                &:nth-child(1),
                &:nth-child(2) {
                    margin-right: 0;
                    width: calc(50% - 10px);
                    flex: 0 0 50%;
                    flex-basis: calc(50% - 10px);
                }

                &:first-child {
                    margin-right: 20px;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

    }
}

.page.page-courses {

    &.page-index {
        
        .empty-courses {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2rem 1rem;
            opacity: 0.7;
    
            h3 {
                font-size: 20px;
            }
    
            p {
                font-size: 14px;
                margin: 5px 0 0;
            }
        }
    
        table {
    
            tbody {
    
                tr {
                    transition: all 0.4s ease-in-out;
                    cursor: pointer;
    
                    &:hover {
                        background-color: #efefef52;
                    }
                }
            }
        }
    }

    &.page-details {

        .qrcode-column {

            .qrcode-card {
    
                .card-header {
                    display: flex;
                    align-items: center;
                    padding: 10px 0px 0px 20px;
                    border-bottom: none;
    
                    h6 {
                        margin: 0;
                        text-transform: uppercase;
                        font-size: 11px;
                        font-weight: 500;
                    }
    
                    button {
                        margin-left: auto;
                    }
                }
    
                .card-body {
                    padding: 0px 10px;

                    .qrcode-image {
                        width: 100%;
                        text-align: center;

                        svg {
                            max-width: 100%;
                        }
                    }
                }
            }

            .card-column-buttons {
                margin-top: 15px;
                display: flex;
                flex-direction: column;

                .btn {
                    width: 100%;

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        
        #pills-aulas {
            
            .card {
                
                .card-body {

                    .dates-table {

                        tr.today {
                            font-weight: 500;
                        }

                        tr.future > td:not(:last-child) {
                            opacity: 0.5;
                        }
                    }

                }
            }
        }
    }
}

.modal {

    @media (max-width: 767px) {
        padding-right: 0 !important;
    }

    .modal-dialog {
    
        .modal-content {
    
            .modal-header {
    
                .modal-title {
                    display: flex;
                    width: 100%;

                    .custom-modal-header {
                        flex-grow: 1;
                        display: flex;
                        align-items: flex-start;

                        .title {

                            p {
                                margin: 0 0 5px;
                            }
            
                            small {
                                color: #666;
                            }
                        }

                        .controls {
                            display: flex;
                            margin-left: auto;

                            .btn {
                                margin: 0;

                                &:not(:last-child) {
                                    margin-right: 10px;
                                }
                            }
                        }

                        @media (max-width: 767px) {
                            flex-direction: column;

                            .controls {
                                margin-left: unset;
                                margin-top: 10px;
                                flex-direction: column;
                                width: 100%;

                                .btn {
                                    width: 100%;
                                    margin: 0;

                                    &:not(:last-child) {
                                        margin: 0 0 10px;
                                    }
                                }
                            }
                        }
                    }
    
                }
            }
        }
    }
}

.students-data-modal {

    .modal-dialog {

        .modal-content {

            .modal-header {
            }

            .modal-body {

                .attendances-table {

                    .student-attendance-info {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .dot {
                            margin-left: 10px;
                        }
                    }

                    .dot {
                        display: block;
                        width: 10px;
                        height: 10px;
                        border-radius: 10px;
                        margin-bottom: 2px;

                        &.dot-0 {
                            background-color: #DC3543;
                        }

                        &.dot-1 {
                            background-color: #ffc107;
                        }

                        &.dot-2 {
                            background-color: #28a745;
                        }
                    }
                }
            }
        }
    }
}

.marcar-presenca-modal {

    .modal-dialog {

        .modal-content {

            .modal-header {
            }

            .modal-body {
            }
        }
    }

    .marcar-presenca-wrapper {

        table {
            //table-layout: fixed;

            tbody tr td {
                margin: 0 auto;
            }

            .form-control {
                min-width: 200px;
            }
        }
    }
}

.page-courses.page-qrcode {

    .qrcode-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .title {
            text-align: center;
            margin-bottom: 30px;
            
            h3 {
                font-size: 30px;
                font-weight: 800;
                margin: 0;
            }

            h4 {
                font-size: 20px;
                font-weight: 600;
                margin: 0 0 5px;
            }

            p {
                color: #999;
                font-size: 22px;
                margin: 5px 0 0;
                font-weight: 500;
            }
        }

        .qrcode-image {
            width: 100%;
            text-align: center;

            svg {
                max-width: 100%;
            }
        }
    }

}

.qrcode-reader-modal {

    .qrcode-reader-wrapper {

        
        .canvas-wrapper {

            canvas {
                position: relative;
                width: 100%;
                background-color: #eee;
            }
        }
    }
}