.page.register,
.page.login {
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 0;

    > .row {
        flex-grow: 1;
        align-items: center;
    }

    .page-title {
        margin-bottom: 1rem;

        h4 {
            margin: 0;
            font-size: 24px;
            font-weight: 600;
        }

        p {
            margin: 4px 0 0;
            font-size: 16px;
            opacity: 0.7;
        }
    }

    .form-groups {

    }

    .form-actions {
        margin: 2rem 0 0;
        text-align: center;

        .btn {
            width: 100%;
        }

        p {
            margin: 8px 0 0;
        }
    }

    .page-image {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

.page.login .page-image img {
    transform: scaleX(-1);
}