.session-alerts {

    &, > * {
        display: none;
    }
}

.session-alert-modal {

    .modal-dialog {
    }

    .session-alert-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .session-alert-head {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 0.5rem;

            .icon {
                margin-bottom: 0.5rem;

                i {
                    font-size: 40px;
                }
            }

            h3 {
                font-size: 20px;
            }
        }

        .session-alert-text {
            text-align: center;
        }

        p {
            margin: 0;
        }
    }

    &.success {

        .icon i {
            color: map-get($map: $colors, $key: "success");
        }
    }

    &.error {

        .icon i {
            color: map-get($map: $colors, $key: "danger");
        }
    }

    &.warning {

        .icon i {
            color: map-get($map: $colors, $key: "warning");
        }
    }
}

.alert {
    position: relative;
    display: flex;
    align-items: center;

    .texts {

        p {
            margin: 0;
        }
    }

    .close-icon {
        margin-left: auto;
        padding-left: 1rem;
        cursor: pointer;
        transition: all 0.4s ease;

        &:hover {
            opacity: 0.5;
        }
    }
}