.btn {
    font-size: 14px;
    line-height: 16px;
    padding: 0.5rem 1rem;
    outline: none;

    &.btn-icon {
        box-shadow: none !important;
        
        &.btn-delete:hover {
            color: map-get($map: $colors, $key: "danger");
        }
    }
}