.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(72, 94, 144, 0.16);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;

    h6 {
        text-transform: uppercase;
        margin: 0 0 10px;
        font-size: 11px;
        font-weight: 500;
    }

    h3 {
        margin: 0;
        font-size: 18px;
    }
}

.card-header {
    padding: 15px 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.card-title {
    margin: 0;

    h4 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }
}

.card-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;

    .btn {
        margin: 0;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}