/*
Flaticon icon font: Flaticon
Creation date: 15/02/2019 13:01
*/
@font-face {
	font-family: "Flaticon";
  	src: 	url("../fonts/flaticon/Flaticon.eot");
  	src: 	url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
			url("../fonts/flaticon/Flaticon.woff2") format("woff2"),
       		url("../fonts/flaticon/Flaticon.woff") format("woff"),
       		url("../fonts/flaticon/Flaticon.ttf") format("truetype"),
       		url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  	font-weight: normal;
  	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
	}
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  	font-family: Flaticon;
	font-size: 20px;
	font-style: normal;
}

.flaticon-menu:before { content: "\f100"; }
.flaticon-list:before { content: "\f101"; }
.flaticon-drop-down-arrow:before { content: "\f102"; }
.flaticon-menu-1:before { content: "\f103"; }
.flaticon-menu-2:before { content: "\f104"; }
.flaticon-display:before { content: "\f105"; }
.flaticon-down-chevron:before { content: "\f106"; }
.flaticon-right-chevron:before { content: "\f107"; }
.flaticon-left-chevron:before { content: "\f108"; }
.flaticon-close:before { content: "\f109"; }
.flaticon-up-chevron:before { content: "\f10a"; }
.flaticon-checked:before { content: "\f10b"; }
.flaticon-down-arrow:before { content: "\f10c"; }
.flaticon-next:before { content: "\f10d"; }
.flaticon-back:before { content: "\f10e"; }
.flaticon-up-arrow:before { content: "\f10f"; }
.flaticon-refresh:before { content: "\f110"; }
.flaticon-more:before { content: "\f111"; }
.flaticon-more-1:before { content: "\f112"; }