
.form-group {
    margin-bottom: 20px;

    label {
        display: block;
        font-weight: 500;
        margin: 0;

        small {
            display: block;
            font-size: 12px;
            opacity: 0.7;
        }
    }

    .form-control {
        display: block;
        padding: 8px 12px 6px;
        width: 100%;
        min-height: 38px;
        color: #596882;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c0ccda;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin: 4px 0 0;
    }

    .parsley-errors-list {
		padding: 0;
		margin: 0;
		list-style: none;
		font-size: 12px;
		color: map-get($map: $colors, $key: 'danger')
    }
}

.form-control {
    border-radius: 0;
    min-height: 40px;
}

.form-groups {
    margin-bottom: 20px;

    .form-group {
        margin-bottom: 0;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.custom-label {
    font-size: 10.5px;
    letter-spacing: .06em;
    text-transform: uppercase;
    font-weight: 500;
}

.custom-control {

    .custom-control-label {
        padding-left: 8px;
        cursor: pointer;
        line-height: 21px;
    
        &::before, &::after {
            top: 0;
            border-radius: 0;
            width: 20px;
            height: 20px;
        }

        &::before {
            border-color: #ddd;
            box-shadow: none !important;
        }
    }
}