$fc-border-color: #ccc;
$fc-bg-color: #f3f3f3;

.fc {

    .fc-toolbar {
        display: flex;
        align-items: center;
        position: relative;
        background: $fc-bg-color;
        margin-bottom: 0;
        padding: 10px 0;
        border: 1px solid $fc-border-color;
        border-bottom: none;

        .fc-left {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .fc-right {
            margin-left: auto;

            .fc-today-button {
                display: none;
            }

            .fc-button-group {
                margin: 0;

                button {
                    border-radius: 0;
                    background: none;
                    border: none;
                    box-shadow: none;
                    outline: none;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    padding: 0 16px;

                    &.fc-prev-button {
                        left: 0;
                    }

                    &.fc-next-button {
                        right: 0;
                    }
                }
            }
        }
    }

    .fc-view-container {

        .fc-view > table {

            > thead {
                background-color: $fc-bg-color;

                tr td {
                    border: none;
                    border-left: 1px solid $fc-border-color;
                    border-right: 1px solid $fc-border-color;

                    table tr th {
                        border: none;
                        padding: 12px 8px;
                        font-weight: 500;
                        font-size: 12px;
                        white-space: nowrap;
                    }
                }
            }
        }

        .fc-day-grid {

            .fc-row.fc-week {

                .fc-bg {

                    table tr td {
                        transition: all 0.3s ease;
                    }
                }

                .fc-content-skeleton {

                    .fc-event-container {

                        .fc-day-grid-event {
                            border-radius: 0;
                            margin: 0 4px;
                            background-color: $fc-bg-color;
                            border: none;
                            transition: all 0.3s ease;
                            cursor: pointer;

                            .fc-content {
                                border: none;
                                padding: 6px 10px;
                                text-align: center;
                                display: flex;

                                .fc-title {
                                    margin-left: auto;
                                }
                            }
                        }

                        &:hover {

                            .fc-day-grid-event {
                                background-color: #007bff;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

}