header {
    display: flex;
    justify-content: center;
    height: 64px;
    background: white;
    border-bottom: .0625rem solid #e0e0e0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;

    .header-left {
    }

    .header-center {

        .pages {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .pg-item {
                height: 100%;
                
                .pg-link {
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 1.5rem;
                    height: 100%;
                    font-size: 14px;
                    font-weight: 500;
                    color: #5f6368;
                    transition: all 0.4s ease;
                    position: relative;
                    text-decoration: none;

                    &:after {
                        border: 2px solid transparent;
                        border-radius: 2px;
                        content: "";
                        height: 0;
                        left: 0;
                        bottom: -2px;
                        position: absolute;
                        border-color: transparent;
                        width: 100%;
                    }
                }

                &:hover {

                    .pg-link {
                        background-color: rgba(32, 33, 36, 0.039) !important;
                    }
                }

                &.active {

                    .pg-link {
                        color: map-get($map: $colors, $key: "primary");
                        font-weight: 600;
                        background: none;

                        &:after {
                            border-color: map-get($map: $colors, $key: "primary");
                        }
                    }
                }
            }
        }

    }
}