.modal {

    .modal-header {
        padding: 1.25rem;

        .modal-title {
            font-size: 16px;
            line-height: 18px;
            font-weight: 600;
        }
    }

    .modal-body {
        padding: 1.25rem;
    }

    .modal-footer {

        .btn {
            margin: 0;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

}