.page {

    .page-title {
        margin-bottom: 20px;

        h3 {
            margin: 0;
            font-size: 24px;
            font-weight: 500;
        }
    }
}

.breadcrumb_ {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 10px;
    padding: 0;
    list-style: none;

    li {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;

        &:not(:first-child) {

            &:before {
                display: inline-block;
                padding: 0 0.5rem;
                color: #7987a1;
                content: "/";
            }
        }

        &:last-child {
            color: map-get($map: $colors, $key: "primary");
        }
    }
}