.pagination-wrapper {
    position: relative;

    .pagination {
        margin: 20px 0 0;
        justify-content: center;

        .page-item {
            padding: 0;
            margin-right: 5px;
            display: inline-block;

            &:last-child {
                margin-right: 0;
            }

            .page-link {
                cursor: pointer;
                height: 36px;
                min-width: 36px;
                padding: 4px;
                border-radius: 5px;
                position: relative;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                vertical-align: middle;
                font-size: 15px;
                line-height: 15px;
                font-weight: 600;
                color: #898b96;
                background: none;
                border: none;
                box-shadow: none !important;
                transition: all 0.1s ease-in-out;
            }

            &.active .page-link, .page-link:hover {
                background: map-get($map: $colors, $key: 'primary');
                color: #fff;
            }

            &:first-child .page-link,
            &:last-child .page-link {
                background: #ebe9f2;
                
                &:hover {
                    color: map-get($map: $colors, $key: "primary");
                }
            }
        }
    }

    .pagination-status {
        color: #333;
        font-weight: 500;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #ebe9f2;
        padding: 8px 15px;
        border-radius: 5px;
        height: 36px;

    }

    @media (max-width: 767px) {

        .pagination {

            .page-item {
                display: none;
                margin-right: 15px;

                &:first-child,
                &:last-child,
                &.active {
                    display: inline-block;
                }
            }
        }
    }

}
