$checkbox-color: map-get($map: $colors, $key: "primary");
$checkbox-contrast-color: #fff;
$checkbox-border-color: #ddd;
$checkbox-size: 18px;

.sys-checkbox {
	display: flex;
	align-items: center;
    position: relative;

	>* {
		cursor: pointer;
    }

	input {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 100;
		width: 18px;
		//margin-top: 1px;
		opacity: 0;
    }

	span {
		width: $checkbox-size;
		height: $checkbox-size;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: $checkbox-size;
		background: $checkbox-contrast-color;
		display: inline-flex;
		margin-right: 8px;
		position: relative;
		border-radius: 3px;
		border: 1px solid $checkbox-border-color;
        //transition: all 0.3s ease;

		&:after {
			position: absolute;
			//margin-top: 1px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			content: "\f00c";
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 10px;
			color: $checkbox-contrast-color;
		}
    }

	label {
		margin: 0;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 12px;
        user-select: none;
        display: unset !important;

		small {
			display: block;
			text-transform: none;
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			opacity: 0.8;
			margin-top: 3px;
		}
    }

	input[type=radio] + span {
		border-radius: 50%;

		&:after {
			content: "\f111";
			font-size: 6px;
			top: 0px;
			left: 0px;
		}
    }

	input:checked+span {
		background: $checkbox-color;
		border-color: $checkbox-color;
	}
}

.sys-checkbox-list {
    display: flex;
    flex-direction: column;

	&:not(.horizontal) .sys-checkbox:not(:last-child) {
		margin-bottom: 1rem;
    }

	&.horizontal {
        flex-direction: row;

		.sys-checkbox:not(:last-child) {
			margin-right: 1rem;
		}
	}
}
