.table {

    thead tr th,
    tbody tr td {
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        transition: all 0.3s ease;
    }

    thead tr th {
        padding: 12px 8px;
    }

    tbody tr td {
        padding: 4px 8px;
    }

    thead {

        tr {

            th {
                border: 0;
                font-weight: 500;
                font-size: 13px;
                color: #999;
            }
        }
    }

    &.table-fixed {
        table-layout: fixed;
    }

    &.table-actions {

        tbody tr td:last-child {

            .dropdown {

                button {
                    outline: none;
                    box-shadow: none;
                    
                    &:after {
                        display: none;
                    }
                    
                    .dropdown-icon {
                        opacity: 0.5;
                        transition: all 0.3s ease;

                        i::before {
                            font-size: 14px;
                        }
                    }

                    &:hover .dropdown-icon{
                        opacity: 1;
                    }
                }

                .dropdown-menu {
                    border-radius: 0;
                }
            }
        }

    }

    &.has-active {

        tbody tr {

            &.active td {
                background-color: #f9f5ff;
            }

            &:not(.active) td {
            }
        }
    }

    &.bigger-padding {

        tbody tr td {
            padding: 10px 8px;
        }
    }

    .dropdown-toggle:after {
        display: none;
    }

    .table-buttons {

        .btn {
            opacity: 0.5;
            transition: all 0.4s ease;

            &:hover {
                opacity: 1;
            }
        }
    }
}