.page-class {

    &.page-form {

        .students-table {

            .form-control {
                box-shadow: none;
                text-align: center;
                border: none;
                padding: 0;
            }

            .new-student-tr {

                td {
                    padding: 12px 0;
                }

                .new-student-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    .btn {
                        padding: 0;
                        width: fit-content;
                    }
                }
            }

            .form-group,
            .form-group .parsley-errors-list {
                margin: 0;
            }
        }
    }

    &.page-calendar {

        .page-controls {
            margin-top: 20px;
        }
    }

}