html {
    height: 100%;
}

html, body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

b {
    font-weight: 600;
}

body > #app {
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
        padding: 88px 0 24px;

        > .container {
            height: 100%;
        }
    }

    footer {
        padding: 16px;
        background-color: #333;
        text-align: center;;
        color: #fff;
    }
}

.dropdown-menu {
    border-radius: 0;

    .dropdown-item {
        box-shadow: none;
        outline: none;

        &:active {
            background-color: #efefef;
            color: #16181b
        }
    }
}

.page {

    .page-controls {
        display: flex;
        align-items: center;

        .pagination-wrapper {
        }

        .buttons {
            margin-left: auto;

            .btn:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    &.page-index {

        .table {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 575px) {

        .page-controls {
            flex-direction: column;

            .pagination-wrapper {
                margin-bottom: 20px;
            }

            .buttons {
                display: flex;
                margin: 0;
                width: 100%;

                .btn:last-child {
                    margin-left: auto;
                }
            }
        }
    }
}

.dataTables_wrapper {

    .row:first-child {
        display: none;
    }

    .row:nth-child(2) {

        table {
            margin: 0 0 20px !important
        }
    }

    .row:nth-child(3) {
        display: flex;
        align-items: center;

        .dataTables_info {
            padding-top: 0;
        }

        .dataTables_paginate {

            .pagination {
                margin: 0;
            }
        }
        
        @media (max-width: 767px) {

            .dataTables_paginate .pagination {
                margin-top: 10px;
                margin-left: -15px;
            }

            .dataTables_info {
                margin-right: -15px;
            }
        }

    }
}

@media (max-width: 575px) {

    /* body > #app main {
        padding: 0;

        .container {
            padding: 0;
        }

        .page {

            .card {
                border: none;
            }
        }
    } */
}