@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ibm/ibm-300.woff2') format('woff2'), /* Super Modern Browsers */
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ibm/ibm-400.woff2') format('woff2'), /* Super Modern Browsers */
} 

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ibm/ibm-500.woff2') format('woff2'), /* Super Modern Browsers */
} 

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/ibm/ibm-600.woff2') format('woff2'), /* Super Modern Browsers */
} 

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ibm/ibm-700.woff2') format('woff2'), /* Super Modern Browsers */
}