body.blank {
    padding: 30px 0 !important;

    main {
        padding: 0 !important;

        .container {
            padding: 0 20px;
        }
    }

    .page.login,
    .page.register {
        flex-direction: column !important;

        .page-image {
            width: 70%;

            img {
                width: 100%;
            }
        }

        .form-content {
            width: 100%;
            margin-top: 20px;
        }
    }

    @media (min-width: 992px) {

        &.vertical-align {
            height: 100%;
    
            #app, #app main {
                height: 100%;
            }
        }
    }
}